# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/actividad_1/ejercicio_resuelto4/target/
/actividad_1/ejercicio_propuesto12/nbproject/private/
/actividad_1/ejercicio_propuesto12/target/
/actividad_3/ejercicio8_2/target/
